{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
